* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
  text-align: center;
}
:root {
  --primaryColor: rgb(43, 18, 87);
  --secondaryColor: rgb(187, 20, 20);
  --logoHeight: 70px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
section {
  box-shadow: 0px 10px 10px -5px rgba(223, 221, 221, 0.91);

  padding: 50px 0;
}
.sectionTitle {
  font-size: 2.2em;
  color: var(--primaryColor);
  padding: 0 0 80px 0;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0px 10px 10px -8px rgba(150, 150, 150, 0.91);
  z-index: 2000;
}
.container {
  width: 100%;
  padding: 10px 30px;
  margin: 0 auto;

  background-color: #ffffff;
  color: #666666;
  border: 1px solid #e1e1e1;
}
.logo {
  height: var(--logoHeight);
  padding: 2px;
  cursor: pointer;
  position: relative;
}
.logo img {
  height: 100%;
}
#info {
  width: 400px;
  height: 100vh;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 1500;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateX(100vw);
  transition: transform 0.8s;
}
#info i {
  margin-bottom: 10px;
  align-self: flex-end;
  text-align: right;
  font-size: 1.5em;
  color: black;
  cursor: pointer;
  transition: transform 0.5s;
}
#info i:hover {
  transform: scale(1.5);
}
#info img {
  width: 250px;
}
#info h5 {
  padding: 0;
  margin-bottom: 2px;
}
#info p {
  padding: 0;
  margin: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}
nav a {
  height: 35px;
  text-decoration: none;
  outline: none;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--primaryColor);
  padding: 4px 0;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.8s;
}

.aktiv {
  border-bottom: 3px solid var(--secondaryColor);
}
nav a:hover:not(a.aktiv) {
  border-bottom: 3px solid var(--secondaryColor);
}
.punkt {
  background-color: var(--primaryColor);
  width: var(--logoHeight);
  height: var(--logoHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.circle {
  background-color: white;
  border-radius: 50%;
  padding: 8px;
}
/***********************SLIDER******************************/
#slider {
  height: 620px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}
#bild {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background-position: center;

  background-size: cover;
}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  opacity: 50%;
}
#slider button {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.308);
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}
#slider button:hover {
  background-color: rgba(58, 56, 56, 0.603);
}
#back {
  left: 40px;
}
#next {
  right: 40px;
}
#text {
  font-weight: 900;
  font-size: 2.5em;
  color: white;
  z-index: 500;
  font-family: "Courgette", cursive;
}
/*********************LEISTUNGEN******************************/

#inhalt {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  color: #666666;
}
#inhaltText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  width: 480px;
}
.line {
  width: 300px;
  border-bottom: 1px solid rgb(173, 169, 169);
  margin: 50px 0;
}
#cards {
  width: 480px;
}
.card {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
}

.card .kreis {
  width: 100px;
  height: 100px;
  background-color: #d0d0d0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5em;
}
.card .leistungText {
  text-align: left;
  margin-left: 20px;
}
.card h5 {
  margin: 0;
}

/********** TEAM *************/
#team {
  margin-bottom: 20px;
  background-color: #f4f4f4;
}
.persons {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
}

#team .person {
  width: 250px;

  box-shadow: 0px 2px 12px 2px #949090;
  border-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 30px;
  background-color: #f4f4f4;
}

.person img {
  width: 100%;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.person h3 {
  font-size: 0.8em;
  margin: 6px 0;
}
.person > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 3px 5px;
}
.person button {
  padding: 7px 0;
  color: white;
  background-color: var(--primaryColor);
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.1em;
  transition: all 0.5s;
  margin: 0;
  border-radius: 0;
}
.person button:hover,
button:hover {
  background-color: var(--secondaryColor);
}

.person .profil {
  font-size: 0.9em;
  margin-top: 8px;
  display: none;
  padding: 3px;
}
/*********************UBER UNS******************************/
#uberuns p {
  color: #666666;
}
/*****************FOTO GALERIA*****************************/
#fotoGaleria {
  background-color: #f4f4f4;
  text-align: center;
}
#fotos {
  margin: 0 auto;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#fotos img {
  width: 250px;
  margin: 20px;
  box-shadow: 0px 2px 12px 2px #000000;
  transition: transform 0.5s;
  cursor: pointer;
}
#fotos img:hover {
  transform: scale(1.1);
}

#bigBox {
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 70px 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(-100vh);
  transition: transform 0.5s;
}
#fotoBox {
  position: relative;
  height: 100%;
}
#fotoBox i {
  position: absolute;
  top: -1em;
  right: -1em;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

#bigBox img {
  max-width: 100%;
  max-height: 100%;

  transition: transform 0.5s;
  transform: scale(0);
}

@media (max-width: 900px) {
  #fotos {
    width: 90%;
  }
}

@media (max-width: 760px) {
  #bigBox {
    padding: 30px;
  }
}

/*********************KONTAKT******************************/
#kontakt {
  padding: 20px 0;
  height: 110vh;
}
#kontakt > h2 {
  padding: 40px;
}
.formular {
  background-color: #f4f4f4;
  display: flex;
  align-items: flex-start;
  border-radius: 5px;
}

/************form link*************/
.formInhalt h5 {
  font-size: 22px;
  color: rgb(34, 34, 59);
  margin: 20px 0 20px 0;
  font-weight: 400;
}
.formLink {
  flex-grow: 1;
  padding-right: 50px;
}
.formLink h5 {
  margin-left: 10px;
}
.formLink > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 0 15px 10px;
}
.formLink p,
.formRecht span {
  color: var(--form-text);
  font-size: 14px;
  line-height: 1.4;
  margin-left: 10px;
}

/************form recht*************/
.formRecht {
  flex-grow: 3;
}
.formRecht .textBox,
.formRecht textarea {
  width: 100%;
  padding: 15px 30px;
  font-size: 15px;
  margin-right: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: var(--form-bgcolor);
}
.formRecht input:last-child {
  margin-right: 0;
}
button {
  display: block;
  background-color: var(--primaryColor);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.5s;
  cursor: pointer;
}

/************FOOTER*************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  color: white;
  padding: 40px 0;
  font-size: 0.8em;
}
footer img {
  margin-top: 25px;
  width: 8%;
}
